header,main{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;

}



button{
    width: 120px;
    background-color:rgb(186, 193, 247);
    border-radius: 19px;
    font-family: "Times New Roman", Times, serif;

}
